@charset "UTF-8";

/* fontes externas https://fonts.google.com/selection/embed & https://fonts.google.com/selection/embed*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*variaveis css :root = global*/
:root{
    --cor1: #e8e8e8;
    --cor2: #a1a1a1;
    --cor3: #434343;
    --cor4: #173261;
    --cor5: #fff;
    --cor6: #0000;

    --titulo: 'Bebas Neue', sans-serif;
    --texto: "Ubuntu Mono", sans-serif;

}

/*reset css*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background: gray;
}
/*Layout*/
.container{
    margin: 0 auto;
    background: blueviolet;
}

.flex{
    display: flex;
    justify-content: space-between;
    background: #173261;
}

#topo{
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/*SMARTFONE PORTRAIT - CELULAR EM PÉ*/
/*cabeçalho*/
header{
    height: 60px;

}

#check{
    display: none;
}

label{
    font-size: 3em;
    position: fixed;
    top: 5px;
    right: 15px;
}

nav ul{
    list-style: none;
    background: var(--cor3);
    height: 100vh;
    position: fixed;
    top: 60px;
    right: -100%;
    width: 100%;
    transition: all 0.5s;

}

nav ul li{
    padding: 20px;
    border-bottom: var(--cor2) 1px solid;
}

nav ul li a{
    text-decoration: none;
    color:var(--cor1);
    font-family: var(--texto);
    font-size: 1.2em;
}
/*quando o id check estiver checada muda (~) a propriedade da ul*/
#check:checked ~ ul{
    right: 0;
}

/*SMARTFONE LANDSCAPE - CELULAR DEITADO*/
@media (min-width:576px){
    body{
        background: blue;

    }
    .container {
        max-width: 540px;
    }
}


/*TABLET PORTRAIT*/
@media (min-width:768px){
    body{
        background: pink;
    }
    .container{
        max-width: 720px;
    }
}

/*TABLET LANDSCAPE*/
@media (min-width:992px){
    body{
        background: goldenrod;
    }
    .container{
        max-width: 960px;
    }
}


/*PC*/

@media (min-width:1200px){
    body{
        background: firebrick;
    }
    .container{
        max-width: 1140px;
    }
    /*cabeçalho*/
    header{
        height: 130px;
    }
    .logo img{
        margin-top: 30px;
        margin-left: 30px;
    }
}


