@charset "UTF-8";

/* fontes externas https://fonts.google.com/selection/embed & https://fonts.google.com/selection/embed*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*variaveis css :root = global*/
:root{
    --cor1: #e8e8e8;
    --cor2: #a1a1a1;
    --cor3: #434343;
    --cor4: #173261;
    --cor5: #fff;
    --cor6: #000;


    --titulo: 'Bebas Neue', sans-serif;
    --texto: "Ubuntu Mono", sans-serif;

}

/*reset css*/

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

}

body{
    background: var(--cor2);
}
/*Layout*/
.container{
    margin: 0 auto;
    
}

#topo{
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.botao{
    text-decoration: none;
    color: var(--cor1);
    font-size: 1.5em;
    font-weight: 700;
    background: var(--cor4);
    border: 1px solid var(--cor1);
    border-radius: 25px;
    padding: 10px 40px;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.flex2 {
    display: flex;
    align-items: center;
}

.flex3 {
    display: flex;
    flex-direction: column;
}

.flex4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex5{
    display: flex;
    flex-direction: column-reverse;
}

.flex6{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card{
    margin-top: 25px;
    width: 340px;
    height: 520px;
    background-color: var(--cor2);
    border: 1px solid var(--cor3);
    border-radius: 25px;
    text-align: center;
}
.card img{
    border-radius: 25px 25px 0px 0px;
}
.card h3{
    margin-top: 15px;   
    font-family: var(--titulo);
    font-size: 1.3em;
}
.card p{
    text-align: left;
    padding: 10px 30px 50px 30px;
    font-family: var(--texto);
    font-size: 1.2em;
}
.card a{
    padding: 10px 100px;
    font-family: var(--texto);
    border: 0;
}
/*SMARTFONE PORTRAIT - CELULAR EM PÉ*/
/*cabeçalho*/
header{
    height: 60px;

}

#check{
    display: none;
}

label{
    font-size: 3em;
    position: fixed;
    top: 5px;
    right: 5px;
}

nav ul{
    list-style: none;
    background: var(--cor3);
    height: 100vh;
    position: fixed;
    top: 60px;
    right: -100%;
    width: 100%;
    transition: all 0.50s;

}

nav ul li{
    padding: 20px;
    border-bottom: var(--cor2) 1px solid;
}

nav ul li a{
    text-decoration: none;
    color:var(--cor1);
    font-family: var(--texto);
    font-size: 1.2em;
}
/*quando o id check estiver checada muda (~) a propriedade da ul*/
#check:checked ~ ul{
    right: 0;
}

/*destaque*/
main{
    height: 75vh;/*75% do dispositivo que estiver usando*/
    background: url(img/banner_front.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    color:var(--cor5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: var(--titulo);
}
main h1{
    font-size: 3em;
}
main h2{
    font-size: 1.5em;
    margin: 20px 0 50px 0;

}

/*SOBRE*/
#sobre {
    background: url(img/background5.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0px;
}

.destaque_sobre {
    display: none;
}

.texto_sobre {
    color: var(--cor6);
    padding: 0px 10px;
    font-family: var(--texto);
}

.texto_sobre h2 {
    margin-bottom: 10px;
    font-family: var(--titulo);
    font-size: 2em;
}

.texto_sobre p {
    font-size: 1.4em;
}

.topico_sobre {
    margin-top: 20px;
}

.topico_sobre img {
    margin-right: 10px;
}

/*ONE PAGE*/
#onepage {
    padding: 50px 0px;

}

#onepage h2 {
    font-family: var(--titulo);
    margin-bottom: 10px;
    font-size: 2em;
}

#onepage p {
    font-family: var(--texto);
    margin-bottom: 25px;
    font-size: 2em;
}

.video iframe {
    width: 340px;
    height: 190px;
}


/*Seção wireframe*/
#wireframe{
    padding: 50px 0px;
    background: url(img/background5.jpg);
    background-size: cover;
    background-position: center;
    }

.qrcode{
    display: none;
}
.textowire span{
    display: none;
}
.textowire {
    padding: 0px 10px;
    color: var(--cor3);
}
.textowire h2{
    margin-bottom: 10px;
}
.textowire p{
    margin-bottom: 40px;
    font-family: var(--texto);
}

/*Cartões*/
#conteudo{
    padding: 50px 0px;
}
#conteudo h2{
    padding-bottom: 25px;
    text-align: center;
    font-size: 2em;
    font-family: var(--titulo);

}

address{
    padding: 35px 10px 50px 10px;
    background-image: url(img/background5.jpg);
    background-size: cover;
    background-position: center;
    color: var(--cor1);
}

address a{
    text-decoration: none;
    color: var(--cor1);
}

address img{
    padding-top: 15px;
}

.icone_local{
    display: none;
}

.dados{
    margin: 30px 0px 15px 0px;
}

.google_maps{
    display: none;
}

footer{
    padding: 50px;
    background: var(--cor3);
    color: var(--cor1);
    text-align: center;
}

.social{
    margin: 15px 0px;
}

/*SMARTFONE LANDSCAPE - CELULAR DEITADO*/
@media (min-width:576px){
    /*body{
        
    }*/
    .container {
        max-width: 540px;
    }
    label{
        right: 60px;
     }
     /*Destaque*/
     main h1, main h2{
        text-shadow: var(--cor6) 0.5em 0.5em 0.5em;
     }

     /*Rodape*/
     .flex5 {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .social{
     margin: 0px;   
    }
}




/*TABLET PORTRAIT*/
@media (min-width:768px){
    /*body{
       
    }*/
    .container{
        max-width: 720px;
    }
    label{
        right: 35px;
     }
    /*destaque*/
     main{
        height: 45vh;
    }
    main h1{
        font-size: 5em;
    }
    main h2{
        font-size: 2em;
    }
}



/*TABLET LANDSCAPE*/
@media (min-width:992px){
    /*body{
        
    }*/
    .container{
        max-width: 960px;
    }
    /*Destaque*/
     main{
        height: 70vh;
     }
     
}



/*PC*/

@media (min-width:1200px){
    /*body{
        
    }*/
    .container{
        max-width: 1140px;
    }
    /*cabeçalho*/
    header{
        height: 130px;
    }
    .logo img{
        margin-top: 30px;
        margin-left: 30px;
    }
    label{
        display: none;
     }
     nav ul{
        position: static;
        height: auto;
        background: transparent;
        margin-top: 50px;
     }
     nav ul li{
        float: left;
        border: 0;
     }
     nav ul li a{
        color: var(--cor3);
     }
     nav ul li a:hover{
        color: blue;
     }
     /*seção wireframe*/
     #wireframe span{
        display: inline;
        color: var(--cor4);
        font-weight: 700;
     }
     .qrcode{
        display: inline;

     }

     /*RODAPE*/
     .icone_local{
        display: inline;
     }

     .icone_mapa{
        display: none;
     }

     .google_maps{
        display: inline;
     }

     .flex6{
        flex-direction: row-reverse;
     }

     address{
        font-size: 1.3em;
        font-family: var(--texto);
        font-weight: 700;
     } 

}